.search-container {
    width: 50%;
    display: flex;
}

.search-bar {
    --bs-light-rgb: 236, 241, 244;
    --bs-bg-opacity: 1;
    border-radius: 6px;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    padding: 4px;
    display: flex;
    width: 100%;
}

.input-search {
    --bs-light-rgb: 236, 241, 244;
    --bs-bg-opacity: 1;
    flex: 1 1 auto;
    padding: 6px 12px;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.search-button {
    padding: 6px 16px;
    color: rgba(20, 162, 245, 1);
}
